page-about {
    .aboutCoco{
        background-image: url('../../assets/imgs/about.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        position: absolute;
        text-align: center;
    }
}
