<!--
  Generated template for the AllVouchersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All Vouchers</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="voucherCategory">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="fnb">Food & Beverage</ion-segment-button>
      <ion-segment-button value="fashion">Fashion</ion-segment-button>
      <ion-segment-button value="lifestyle">Lifestyle</ion-segment-button>
      <ion-segment-button value="travel">Travel</ion-segment-button>
      <ion-segment-button value="others">Others</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="voucherCategory">
    <ion-list *ngSwitchCase="'all'">
      <ion-card>
        <img src="assets/imgs/promo-caribou-coffee.jpg"/>
            
        <ion-card-content>
          <ion-card-title>
            Voucher Diskon 40% di Caribou Coffee
          </ion-card-title>         
          <p>
            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button clear text-center style="width:100%">
              See Details
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear text-center style="width:100%">
              Redeem Points
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-list>
  </div>
</ion-content>
