<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item padding-right>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="Name"></ion-input>
    </ion-item>
              
    <ion-item padding-right>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="Email"></ion-input>
    </ion-item>
          
    <ion-item padding-right>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="Pwd1"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Re-Type Password</ion-label>
      <ion-input type="password" [(ngModel)]="Pwd2"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-input type="date" [(ngModel)]="DOB"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input type="text" [(ngModel)]="MobileNo"></ion-input>
    </ion-item>
    
    <ion-item></ion-item>
  </ion-list>

  <button ion-button full (click)="createAccount()" style="border-radius:5px;">Create Account</button>

</ion-content>
