<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Expenses" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Coco" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>