<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="updateProfile();">
        <ion-icon name="checkmark" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Profile picture -->
  <div text-center>
    <img [src]="user_data.profile_img" class="edit-avatar" alt="">
    <p class="change-text">Change Photo</p>
  </div>

  <!-- Form -->
  <ion-list>

    <ion-item padding-right>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [value] = "user_data.name"></ion-input>
    </ion-item>
                  
    <ion-item padding-right>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" [value] = "user_data.email"></ion-input>
    </ion-item>
              
    <ion-item padding-right>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [value] = "user_data.password"></ion-input>
    </ion-item>
    
    <ion-item padding-right>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-input type="date" [value]="user_data.dob"></ion-input>
    </ion-item>
    
    <ion-item padding-right>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input type="text" [value]="user_data.mobileno"></ion-input>
    </ion-item>
  
    <ion-item style="padding:-10px;"></ion-item>
  </ion-list>

</ion-content>