<ion-header>

  <ion-navbar>
    <ion-title>New Expense</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--progress bar animation while processing the image
  <ng-progress [min]="0" [max]="1"></ng-progress>-->
  
  <ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <h2>Write little detail about this expense</h2>
      <ion-item>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input placeholder="Description of the expense"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Transaction Date</ion-label>
        <ion-datetime type="datetime-local" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="myDate" placeholder="25 November 2018"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Split Equally?</ion-label>
        <ion-toggle checked="false" color="primary"></ion-toggle>
      </ion-item>
    </ion-slide>
    
    <!--capture-->
    <ion-slide>
      <h2>First, take a picture of the receipt!</h2>
      <button ion-button full (click)="selectSource()">Select Image</button>
      <button ion-button full (click)="recognizeImage()" [disabled]="!selectedImage">Recognize Image</button>

      <img [src]="selectedImage" *ngIf="selectedImage">
     <!-- <div *ngIf="imageText" [ngStyle]="{'white-space': nowrap}">{{ imageText }}</div>
      <div *ngFor="let text of receiptText; let i=index">
        {{text.receiptText}} 
        <ion-input [(ngModel)]="receiptText[i].price" placeholder="Can't read the text. Please help CocoPAY :("></ion-input>
      </div>-->

      <ion-card *ngIf="imageText">
        <ion-card-header>Image Text</ion-card-header>
        <ion-card-content>
          {{ imageText }}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!--select bills-->
    
    <ion-slide>
      <h2>Then tag your friends..</h2>
      <ion-card *ngFor="let item of ocrReceipt; let current = index;" padding>
        <ion-card-header>{{item.name}} #{{current+1}}</ion-card-header>
          <ion-item>
              <ion-label stacked>Price</ion-label>
              <ion-input type="number" [(ngModel)]="item.price"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>Person</ion-label>
              <ion-input [(ngModel)]="item.person" placeholder="Person" (click)="tagFriends(current+1)"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label color="primary" stacked>Email</ion-label>
              <ion-input type="email" placeholder="Email" [(ngModel)]="item.email"></ion-input>
          </ion-item>
      </ion-card>
    </ion-slide>
    
    <!--tampilin total yang harus dibaya per orang termasuk service (tax1) dan pajak resto (tax2)-->
    <ion-slide>
      <h2>Now, check the result</h2>
      <p>Page </p>
    </ion-slide>
    
    <!--Notifikasi berhasil kirim tagihan ke temen2-->
    <ion-slide>
      <h2>Sit back & relax, CocoPAY successfully sent notification to your friends!</h2>
      <p>Page </p>
    </ion-slide>
  </ion-slides>
</ion-content>