<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goOptProfile($event);">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <div class="bg-cover-profile">
    <ion-avatar class="avatar">
      <img [src]="user_data.profile_img" alt="avatar" class="avatar-img">
    </ion-avatar>
    <div class="profile-name" text-center>
      <h2><b>{{user_data.name}}</b></h2>
      {{user_data.email}}
    </div>
    <div class="grade-points" text-center>
      <ion-row class="border-row-grade-points">
        <ion-col class="border-col-grade-points">
          <ion-icon name="trophy" small></ion-icon>CocoPAY Grade
          <button ion-button clear class="button-grade-points" (click)="goGradeDetails()">Bronzy</button>
        </ion-col>
        <ion-col>
          <ion-icon name="star" small></ion-icon>CocoPAY Points
          <button ion-button clear class="button-grade-points" (click)="goPointDetails()">1,000 points</button>
        </ion-col>
      </ion-row>
    </div>
  </div>


<!-- Segments -->
<div style="padding-top:10px;">
  <ion-segment [(ngModel)]="listofpromo">
    <ion-segment-button value="browseDeals">Browse Deals</ion-segment-button>
    <ion-segment-button value="myVoucher">My Voucher</ion-segment-button>
  </ion-segment>
</div>
    
  <!-- Segment content -->
  <div [ngSwitch]="listofpromo">
    <ion-list *ngSwitchCase="'browseDeals'">
      <ion-card>
        <img src="assets/imgs/fnb.jpg"/>
              
        <ion-card-content>
          <ion-card-title>
            Voucher Value Senilai Rp. 100.000,- untuk Semua Menu
          </ion-card-title>         
          <p>
            GB Bistro & Dessert kini hadir di Fave dengan memberikan Anda penawaran berupa Voucher Value Senilai Rp. 100.000 
          </p>
        </ion-card-content>
        
        <ion-row>
          <ion-col>
            <button ion-button clear text-center style="width:100%">See Details</button>
          </ion-col>
          <ion-col>
            <button ion-button clear text-center style="width:100%">Redeem Points</button>
          </ion-col>
        </ion-row>
      </ion-card> 
      <div style="padding:10px;">
        <button ion-button block text-center (click)="goSeeAllVouchers();">See All Vouchers</button>
      </div>         
    </ion-list>

    <ion-list *ngSwitchCase="'myVoucher'">
      <ion-card>
        <img src="assets/imgs/fnb.jpg"/>
                  
        <ion-card-content>
          <ion-card-title>
            Voucher Value Senilai Rp. 100.000,- untuk Semua Menu
          </ion-card-title>         
          <p>
            GB Bistro & Dessert kini hadir di Fave dengan memberikan Anda penawaran berupa Voucher Value Senilai Rp. 100.000 
          </p>
        </ion-card-content>
            
        <ion-row>
          <ion-col>
            <button ion-button clear text-center style="width:100%" (click)="goSeeVoucherDetails();">See Details</button>
          </ion-col>
          <ion-col>
            <button ion-button clear text-center style="width:100%">Use Voucher</button>
          </ion-col>
        </ion-row>
      </ion-card>       
    </ion-list>
  </div>
</ion-content>
