page-profile {

  .bg-cover-profile{
    background-image:url('../../assets/imgs/bg_profile.png');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .avatar{
    padding-top:30px;
    padding-bottom: 20px;
  }

  .avatar-img{
    border-radius:100%; 
    display:block; 
    margin-left:auto; 
    margin-right:auto; 
    width:125px; 
    height:125px;
  }

  .profile-name{
    width:100%;
    background-color:rgba($color: black, $alpha: 0.3);
    color:white;
    padding-top:3px;
    padding-bottom:20px;
  }

  .grade-points{
    background-color:white;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    padding-top:5px;
    padding-bottom:15px;
  }

   .border-row-grade-points{
     border-bottom:1px solid lightgrey;
     border-radius: 5px;
   }

  .border-col-grade-points{
    border-right:1px solid lightgrey;
  }

  .button-grade-points{
    border-radius:5px;
    height:40px;
    font-size:20px;
    font-weight: bold;
  }

}
  