<!--
  Generated template for the CallApiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>callAPI</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="getData()">Get</button>
  <button ion-button (click)="postData()">Post</button>
  <ion-row>TransactionID: {{result.TransactionID}}</ion-row>
  <ion-row>TransactionDate: {{result.TransactionDate}}</ion-row>
  <ion-row>ReferenceID: {{result.ReferenceID}}</ion-row>
  <ion-row>Status: {{result.Status}}</ion-row>
  <!--<ion-card *ngIf="apiText">
      <ion-card-header>Result</ion-card-header>
      <ion-card-content>
        {{ apiText }}
      </ion-card-content>
    </ion-card>-->
</ion-content>
