<ion-header>
  <ion-navbar>
    <ion-title>CocoPAY</ion-title>
  
    <ion-buttons end>
      <button ion-button icon-only  (click)="goNotifications()">
        <ion-icon name="notifications" class="badge-container"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="summary">
      <ion-segment-button value="me">Need to Pay</ion-segment-button>
      <ion-segment-button value="other">Collect Payment</ion-segment-button>
    </ion-segment>
  </div>
          
  <div padding-horizontal [ngSwitch]="summary">
    <ion-list *ngSwitchCase="'me'">
      <button ion-item *ngFor="let item of myDebts" (swipe)="goSeeMyDetails(item)" >
        <ion-icon item-end name="arrow-dropright"></ion-icon>
        <ion-avatar item-start>
          <img src="{{item.url}}">
        </ion-avatar>  
        <p style="text-align:left;">
          {{item.name}}
          <span style="float:right;padding-right:10px;">Rp {{ item.amount | number }}</span>
       </p>
      </button>
    </ion-list>
          
    <ion-list *ngSwitchCase="'other'">
      <button ion-item *ngFor="let item of theirDebts" (click)="theirSelected(item)" (swipe)="goSeeTheirDetails(item)">
        <ion-icon item-end name="arrow-dropright"></ion-icon>
        <ion-avatar item-start>
          <img src="{{item.url}}">
          <ion-icon color="green" name="checkmark-circle" [hidden]="!item.checked"></ion-icon>
        </ion-avatar>
        <p style="text-align:left;">
          {{item.name}}
          <span style="float:right;">Rp {{ item.amount | number }}</span>
        </p>
      </button>
      <div padding>
        <button ion-button full (click)="remindToPay()" [disabled]="checkedCount == 0" style="border-radius:5px;">Remind to Pay</button>
      </div>
    </ion-list>
  </div>
</ion-content>
