<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list text-wrap style="font-size:11px;">
    <ion-item>
      <ion-icon name="star" item-start></ion-icon>
      You've got xx Points for creating [expenses name].
    </ion-item>
    <ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      Catherine has paid Rp xxx to your account for [expenses name].
    </ion-item>
    <ion-item>
      <ion-icon name="star-outline" item-start></ion-icon>
      You've redeem xx Points for [voucher name]. See My Voucher to see details.
    </ion-item>
    <ion-item>
      <ion-icon name="trophy" item-start></ion-icon>
      Congratulations! You've been upgraded from Bronze to Silver Grade.
    </ion-item>
    <ion-item>
      <ion-icon name="star" item-start></ion-icon>
      You've got xx Points for paying [expense name] to Catherine.
    </ion-item>
    <ion-item>
      <ion-icon name="alert" item-start></ion-icon>
      Friendly reminder! Don't forget pay [expense name] to Catherine.
    </ion-item>
  </ion-list>
</ion-content>
