<ion-header>
        <ion-navbar>
            <ion-title>Summary Details</ion-title>
        </ion-navbar>
    </ion-header>
    
<ion-content padding>
    <ion-item *ngFor="let item of itemCollection" (click)="itemClicked(item)">
        <p>
            {{item.name}}
            <span style="float:right;">Rp {{ item.amount | number }}</span>
        </p>
    </ion-item>
    <ion-item>
        <h2><b>
            Total
            <span style="float:right;">Rp {{ priceTotal | number }}</span>
        </b></h2>
    </ion-item>
    <div style="padding:10px;">
        <button ion-button block text-center (click)="goPay();" style="border-radius:5px;">Pay Now</button>
    </div> 
    
</ion-content>
    
    
    