<ion-header>
    <ion-navbar>
        <ion-title>Summary Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let item of itemCollection" (click)="itemClicked(item)">
    <p>
        {{item.name}}
        <span style="float:right;">Rp {{ item.amount | number }}</span>
    </p>
  </ion-item>
  <ion-item>
    <p>
        Total
        <span style="float:right;">Rp {{ priceTotal | number }}</span>
    </p>
  </ion-item>
</ion-content>