<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<button ion-item (click)="goSettings()">Settings</button>
<button ion-item (click)="goHelp()">Help</button>
<button ion-item (click)="goAbout()">About</button>
<button ion-item (click)="goLogout()">Log Out</button>

<!--<ion-icon name="arrow-forward" style="float:right;"></ion-icon>-->