<!--
  Generated template for the GradeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Grade Level</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/bronze-trophy.png">
      </ion-thumbnail>
      <h2>Bronzy</h2>
      <p>blablabla</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/silver-trophy.png">
      </ion-thumbnail>
      <h2>Silverish</h2>
      <p>blablabla</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/gold-trophy.png">
      </ion-thumbnail>
      <h2>Golden</h2>
      <p>blablabla</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/platinum-trophy.png">
      </ion-thumbnail>
      <h2>Platinum</h2>
      <p>blablabla</p>
    </ion-item>
  </ion-list>
  
  </ion-content>
