page-welcome {
    ion-title {
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    .welcomeCoco{
        background-image: url('../../assets/imgs/bg.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        position: absolute;
        overflow-y: hidden;
    }
    .iconApp {
        margin-top: 20vh;
        width: 220px;
        height: 150px;
        background: transparent !important;
    }
}
