<ion-content padding center text-center class="welcomeCoco" no-bounce>

  <ion-img class="iconApp" src="../../assets/imgs/coco.png"></ion-img>
  <!--<ion-title>Welcome to CocoPAY</ion-title>-->
  
  <ion-list>
    <ion-item padding-horizontal>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="Email"></ion-input>
    </ion-item>
          
    <ion-item padding-horizontal>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="Password"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="login()" style="border-radius:5px;">Login</button>
  <!-- <button ion-button full (click)="presentToast()" style="border-radius:5px;">Login</button> -->
  <button ion-button full color="light" (click)="createAccount()" style="border-radius:5px;">Sign Up</button>
  
</ion-content>