<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let item of itemCollection" (click)="itemClicked(item)">
            <ion-item>
              <div item-start>{{item.name}}</div>
              <div item-end>Rp {{item.amount | number}}</div>
            </ion-item>
          </button>
          <ion-item>
              <div item-start>Total</div>
              <div item-end>Rp {{priceTotal | number}}</div>
            </ion-item>
    </ion-list>
</ion-content>
