<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="summary">
      <ion-segment-button value="me">
        You Owes Who
      </ion-segment-button>
      <ion-segment-button value="other">
        Who Owes You
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="summary">
    <ion-list *ngSwitchCase="'me'">
        <button ion-item *ngFor="let item of myDebts" (click)="mySelected(item)">
          <ion-avatar item-start>
            <img src="{{item.url}}">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Rp. {{item.amount | number}}</p>
        </button>  
    </ion-list>
  
    <ion-list *ngSwitchCase="'other'">
        <button ion-item *ngFor="let item of theirDebts" (click)="theirSelected(item)">
          <ion-avatar item-start>
            <img src="{{item.url}}">
            <ion-icon color="green" name="checkmark-circle" [hidden]="!item.checked"></ion-icon>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Rp. {{item.amount | number}}</p>
        </button>  
        <button ion-button full (click)="remindToPay()" [disabled]="checkedCount == 0">Remind to Pay</button>
    </ion-list>
  </div>
</ion-content>
