page-summary {
    ion-avatar{
        position: relative;
        ion-icon {
            position: absolute;
            bottom: -5px;
            right: -5px;
            color: #F18805 !important;
        }
    }
}
