<!--
  Generated template for the GradeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Point Details</ion-title>
  </ion-navbar>
  
</ion-header>
  
  
<ion-content padding>
  
  <ion-list>
    <ion-item *ngFor="let item of pointDetail; let i = index">
      <ion-icon name="star" item-start></ion-icon>
      {{item.name}}
      <span style="float:right;font-size:15px;font-weight:bold;">{{item.point}} Points</span>
    </ion-item>
  </ion-list>
    
</ion-content>
  