<!--
  Generated template for the TagUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>
            Tag User
        </ion-title>
        <ion-buttons right>
            <button ion-button (click)="getContacts()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating><div class="searchbar-search-icon"></div>Select Contact</ion-label>
        <ion-input type="text" [(ngModel)]="search"></ion-input>
    </ion-item>
    <br />
    <!--show this if there are no items in the list-->
    <ion-item [hidden]="contacts.length > 0">
        <p><strong>Friends data is not available</strong></p>
    </ion-item>
    <ion-list radio-group [(ngModel)]="selectedContactId">
        <!--Display the current conditions data we have -->
        <ion-item *ngFor="let person of contacts|filter:{fullName:search} ; let i=index" [hidden]="person.fullName == ''">
            <ion-label>{{person.fullName}}</ion-label>
            <ion-radio value="{{person.id}}"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button (click)="doSelectContact($event)" full>Select</button>
    </ion-toolbar>
</ion-footer>