<ion-header>
    <ion-navbar>
      <ion-title>CocoPAY</ion-title>
    
      <ion-buttons end>
        <button ion-button icon-only (click)="goOptions($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of items">
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/coco1.png">
        </ion-avatar>
        <h2>{{item.groupName}}</h2>
        <p>{{item.description}}</p>
        <h3 [ngStyle]="{'color': item.groupStatus === 'All Square!' ? '#435F85' : '#841B12'}">Status: {{item.groupStatus}}</h3>
      </ion-item>
      <ion-item-options slide="left">
        <button ion-button color="danger" (click)="archive(item, slidingItem)">
          <ion-icon name="archive"></ion-icon>Archive
        </button>
        <button ion-button color="secondary" (click)="edit(item, slidingItem)">
          <ion-icon name="create"></ion-icon>Edit
        </button>
        <button ion-button (click)="seeDetail(item, slidingItem)">
          <ion-icon name="paper"></ion-icon>Detail
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <!-- fab button at bottom right -- ini item2 yang menu plus di tab COCO -->
  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <!--Add Expense for Existing Group-->
      <button ion-fab (click)="addExpense()">
        <ion-icon name="paper"></ion-icon>
        <div class="label">New Expense</div>
      </button>

      <!--See Archived Transaction-->
      <button ion-fab (click)="seeArchive()">
          <ion-icon name="archive"></ion-icon>
          <div class="label">See Archived Transactions</div>
        </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>