<!--
  Generated template for the ExpenseDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Expense Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <img text-center margin-horizontal src='../../assets/imgs/receipt1.PNG' class="receipt-img">

    <ion-card-content>
      <ion-card-title>
        <ion-list *ngFor="let item of expDetails; let i = index" style="font-size:20px; font-weight:bold;">
          {{item.name}}
          <span style="float:right;">{{item.total}}</span>
          <ion-list *ngIf="item.detail">
            <ion-item *ngFor="let detail of item.detail; let j = index">
              <p style="font-size:12px;">{{detail.name}}
                <span style="float:right;">{{detail.amount}}</span>
              </p>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>

  <!-- <ion-content>
    <ion-list>
      <ion-list-header *ngFor="let item of expDetails; let i = index">
        {{item.name}} Rp {{item.total|number}}
        <ion-list *ngIf="item.detail">
          <ion-item *ngFor="let detail of item.expDetails; let j = index">
            {{detail.name}} Rp {{detail.total|number}}
          </ion-item>
        </ion-list>
      </ion-list-header>
    </ion-list>
  </ion-content> -->





<!-- <ion-content>
  <ion-card>
      <img margin-horizontal src='../../assets/imgs/receipt1.PNG' class="receipt-img">

      <ion-card-content>
        <ion-card-title>
          <h2 class="user-tag">
            Helen
            <span class="amount-user-tag">Rp 168,630</span>
          </h2>
        </ion-card-title>
        <button ion-item padding-horizontal>
          <p style="font-size:12px">
            VANILLA BAILEYS LATTE
            <span style="float:right;">Rp 60,000</span>
          </p>
        </button>
        <button ion-item padding-horizontal >
          <p style="font-size:12px">
            EGG BENEDICT
            <span style="float:right;">Rp 86,000</span>
          </p>
        </button>
        <button ion-item padding-horizontal>
          <p style="font-size:12px">
            Service
            <span style="float:right;">Rp 7,300</span>
          </p>
        </button>
        <button ion-item padding-horizontal>
          <p style="font-size:12px">
            Tax
            <span style="float:right;">Rp 15,330</span>
          </p>
        </button>

        <ion-card-title>
          <h2 class="user-tag">
            Febrina
            <span class="amount-user-tag">Rp 150,150</span>
          </h2>
        </ion-card-title>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            ICE BUTTERBEER
            <span style="float:right;">Rp 55,000</span>
          </p>
        </ion-item>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            BEAN BOOZLED PUDDING
            <span style="float:right;">Rp 75,000</span>
          </p>
        </ion-item>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            Service
            <span style="float:right;">Rp 6,500</span>
          </p>
        </ion-item>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            Tax
            <span style="float:right;">Rp 13,650</span>
          </p>
        </ion-item>
        
        <ion-card-title>
          <h2 class="user-tag">
            Theresia Catherine
            <span class="amount-user-tag">Rp 109,725</span>
          </h2>
        </ion-card-title>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            ICE ESPRESSO
            <span style="float:right;">Rp 35,000</span>
          </p>
        </ion-item>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            COCOCAFE CAKE
            <span style="float:right;">Rp 60,000</span>
          </p>
        </ion-item>
       <ion-item padding-horizontal>
          <p style="font-size:12px">
            Service
            <span style="float:right;">Rp 4,750</span>
          </p>
        </ion-item>
        <ion-item padding-horizontal>
          <p style="font-size:12px">
            Tax
            <span style="float:right;">Rp 9,975</span>
          </p>
        </ion-item>

        <ion-card-title color="light">
          <h2 class="user-tag">
            Service
            <span class="amount-user-tag">Rp 18,550</span>
          </h2>
        </ion-card-title>
        <ion-card-title color="light">
          <h2 class="user-tag">
            Tax
            <span class="amount-user-tag">Rp 38,955</span>
          </h2>
        </ion-card-title>
        <ion-card-title color="light">
          <h2 class="user-tag">
            Total
            <span class="amount-user-tag">Rp 428,505</span>
          </h2>
        </ion-card-title>
      </ion-card-content>
    <ion-list>

    </ion-list>
  </ion-card>
</ion-content> -->
