<!--
  Generated template for the VoucherDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-card>
      <img src="assets/imgs/promo-anomali-coffee.jpg"/>
            
      <ion-card-content>
        <ion-card-title>
          Voucher Diskon 20% di Anomali Coffee
        </ion-card-title>         
        <ion-item text-wrap>
          <ion-icon name="clipboard" item-start small></ion-icon>
          <p>The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.</p>
        </ion-item>
        <ion-item>
          <ion-icon name="star-outline" item-start small></ion-icon>
          <p><b>15,000 points</b></p>
        </ion-item>
        <ion-item>
            <ion-icon name="pin" item-start small></ion-icon>
            <p>All Anomali Coffee Outlets</p>
          </ion-item>
        <ion-item>
          <ion-icon name="calendar" item-start small></ion-icon>
          <p>Available until November 30<sup>st</sup> 2018</p>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Segments -->
    <div>
      <ion-segment [(ngModel)]="voucherDetails">
        <ion-segment-button value="overview">Overview</ion-segment-button>
        <ion-segment-button value="howtouse">How to Use</ion-segment-button>
        <ion-segment-button value="tnc">T & C</ion-segment-button>
      </ion-segment>
    </div>
      
    <!-- Segment content -->
    <div [ngSwitch]="voucherDetails">
      <ion-list *ngSwitchCase="'overview'">
      <ion-item text-wrap>
          Lagi pengen bersantai setelah mumet ngerjain tugas kampus ataupun kerjaan kantor? Yuk! Kita ke Anomali Coffee.<br />
          <br />
          Kamu akan langsung disambut dengan harumnya Kopi khas Indonesia yang dapat membangunkan semangat! Tempatnya yang nyaman bisa bikin kamu betah buat kongkow disini, apalagi ada <b>Promo Anomali Coffee dari GO-PAY, cashback 20%</b> bikin ngopi lebih nikmat dan tetap bisa hemat.<br />
          <br />
          Promo Cashback ini mulai tanggal 1 September - 30 November 2018.<br />
          <br />
          Jadi, kalau kamu mampir ke Anomali Coffee jangan lupa bayarnya pakai GO-PAY ya!<br />
      </ion-item>
      </ion-list>
    </div>

    <div [ngSwitch]="voucherDetails">
      <ion-list *ngSwitchCase="'howtouse'">
        <ion-item text-wrap>
            1. Beritahu kasir kamu bayar menggunakan GO-PAY <br />
            2. Buka aplikasi GO-JEK dan klik “Bayar” <br />
            3. Scan struk kode QR yang diberikan oleh petugas kasir <br />
            4. Pastikan jumlah pembayaran sudah sesuai <br />
            5. Masukkan PIN GO-PAY kamu <br />
            6. Transaksi sukses! 
        </ion-item>
      </ion-list>
    </div>

    <div [ngSwitch]="voucherDetails">
      <ion-list *ngSwitchCase="'tnc'">
        <ion-item text-wrap>
            1. Khusus pembayaran di tempat menggunakan GO-PAY <br />
            2. Cashback maksimal Rp20.000/transaksi <br />
            3. Maksimal 1 kali transaksi/pengguna/rekan usaha/hari <br />
            4. Berlaku 1 kali/perangkat dan IP/hari <br />
            5. Berlaku di seluruh outlet Anomali Coffee di Jakarta <br />
            6. Tanpa minimum transaksi <br />
            7. Cashback akan diterima maksimal dalam 1x24 jam <br />
            8. Promo dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya <br />
        </ion-item>
      </ion-list>
    </div>
    <div style="padding:10px;">
      <button ion-button block text-center>Use Voucher</button>
    </div>
</ion-content>